<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav nav-top-scroll bg-transparent nav-box-width white-link padding-four-lr menu-logo-center">
        <div class="container nav-header-container">
            <div class="row">
                <div class="center-logo">
                    <a href="../main" title="OpenPlace" class="logo"><img src="<%= image_path "logo.png"%>" class="logo-dark" alt="OpenPlace"><img src="<%= image_path "logo_w.png"%>" data-at2x="<%= image_path "logo_w@2x.png"%>" alt="OpenPlace" class="logo-light default"></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->  
</header>

<!-- start hero section -->
<section class="wow fadeIn no-padding cover-background color-code" data-color="1"  style="background-image: url('<%= image_path "background_hero.png" %>');">
    <div class="container full-screen position-relative">
        <div class="slider-typography text-left">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <div class="col-lg-7 col-md-10 col-sm-10 center-col text-center">
                        <span class="after-before-separator text-extra-small alt-font text-white letter-spacing-3 xs-letter-spacing-0 text-uppercase margin-20px-bottom xs-margin-5px-bottom display-inline-block">Bridge between Customers and Stores</span>
                        <h2 class="font-weight-600 text-white alt-font margin-40px-bottom xs-margin-25px-bottom">Open Place<br><span style = "font-size:20px">소중한 시간 소중한 사람들과 함께</span></h2>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- end hero section -->

 <!-- start section -->
 <section class="wow fadeIn color-code md-no-background-img" data-color="2" style="background: url('<%= image_path "background_2.png" %>') left bottom no-repeat,url('<%= image_path "background_1.png" %>') right top no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">소중한 시간을 지켜드립니다</div>
                <h3 class="text-white alt-font width-95 sm-width-100 margin-70px-bottom sm-no-margin-bottom">장소를 정하고 기다리는 것에<br>시간을 낭비하기에는<br>우리의 시간은 소중합니다<br>"오픈플레이스"로<br>시간을 소중하게 사용하세요.</h3>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- start feature box item -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1 xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin">
                <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                    <h3 class="char-value font_color_white letter-spacing-minus-1 text-medium-gray font-weight-600">01.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left sm-padding-15px width-100 display-table-cell vertical-align-middle">인원과 원하는 장소의<br> 종류를 입력</span>
                </div>
                <p class="width-90 sm-width-100"><%= image_tag "step1.png" %></p>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1 xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
                <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                    <h3 class="char-value font_color_white letter-spacing-minus-1 text-medium-gray font-weight-600">02.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100 display-table-cell vertical-align-middle">추천받은 리스트들 중<br> 하나를 Pick!</span>
                </div>
                <p class="width-90 sm-width-100"><%= image_tag "step2.png" %></p>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1 wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
                <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                    <h3 class="char-value font_color_white letter-spacing-minus-1 text-medium-gray font-weight-600">03.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100 display-table-cell vertical-align-middle">해당 가게에 가면<br> Point를 GET!</span>
                </div>
                <p class="width-90 sm-width-100"><%= image_tag "step3.png" %></p>
            </div>
            <!-- end feature box item -->
        </div>
    </div>
</section>
<!-- end section -->


<!-- start protfolio section -->
<section class="wow fadeIn color-code no-padding xs-padding-50px-tb" data-color="3"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">오픈플레이스의 기능들</div> 
            </div>
        </div> 
        <div class="row">
            <div class="filter-content overflow-hidden padding-100px-lr sm-no-padding-lr xs-padding-15px-lr">
                <ul class="portfolio-grid work-3col hover-option8 gutter-medium">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                    <li class="grid-item web branding design wow fadeInUplast-paragraph-no-margin">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_1.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">추천 기능</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">인원, 장소, 위치를 정하면 현재 상황에 맞는 5개의 가게를 정해드립니다.</p>
                                    </div>
                                </div> 
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_2.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">찜 기능</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">어플을 통해 이동할 장소에 내 자리를 확보 할 수 있습니다.</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item advertising branding photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_3.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Time Line</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">타임라임에서 주변 가게들의 소식들을 실시간으로 볼 수 있습니다.</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising design wow fadeInUp last-paragraph-no-margin">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_4.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">포인트</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">가게에 대한 리뷰와 설문을 통해 포인트를 얻고, 상품권으로 교환 할 수 있습니다.</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_5.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">가게의 자리 현황 확인</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">현재 가게에 사람들이 많은지 적은지 직접 가지 않고 확인할 수 있습니다.</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising branding design photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <figure>
                            <div class="portfolio-img"><img src="<%= image_path "list_6.jpg"%>" alt=""/></div>
                            <figcaption>
                                <div class="portfolio-hover-main">
                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">리뷰하기</span>
                                        <p class="text-small no-letter-spacing text-medium-gray">가게의 솔직한 평을 남겨 주변사람과 가게 오너분에게 알려줄 수 있습니다.</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end portfolio item --> 
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end portfolio section -->

<!-- start counter section -->
<section class="wow fadeIn md-no-background-img" style= "background: url('<%= image_path "background_3.png" %>') right center no-repeat">
    <div class="container">
        <div class="row">
            <!-- start counter item -->
            <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn">
                <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="5">5</h5>
                <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">곳의 번화가에서</span>
                <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
            </div>
            <!-- end counter item -->
            <!-- start counter item -->
            <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn" data-wow-delay="0.2s">
                <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="274">274</h5>
                <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">가게들 중에</span>
                <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
            </div>
            <!-- end counter item -->
            <!-- start counter item -->
            <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn" data-wow-delay="0.4s">
                <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="5">5</h5>
                <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">곳을 추천 받고</span>
                <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
            </div>
            <!-- end counter item -->
            <!-- start counter item -->
            <div class="col-md-3 col-sm-3 col-xs-12 text-center wow zoomIn" data-wow-delay="0.6s">
                <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="1">1</h5>
                <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">한 번에 자리를 찜해 보세요!</span>
                <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
            </div>
            <!-- end counter item -->
        </div>
    </div>            
</section>
<!-- end counter section -->

<!-- start blog section -->
<section class="wow fadeIn animated color-code no-padding-top md-no-background-img xs-padding-50px-tb" data-color="4" style="background: url('<%= image_path "background_4.png" %>') left bottom no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">이런 사람들에게 추천합니다!</div> 
            </div>
        </div> 
        <div class="row equalize xs-equalize-auto">
            <!-- start blog post item -->
            <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-15px-bottom wow fadeIn">
                <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                    <div class="post-details">
                        <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">OpenPlace 1</span>
                        <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><div class="text-white">선택 장애가 있는 당신!<br>어디를 갈지 정하기 힘들다면,<br> 오픈플레이스의<br><strong>"추천 기능"</strong>을 이용해 보세요!</div></span>
                        <div class="author padding-10px-top position-relative">
                            <span class="text-white text-uppercase text-extra-small">by <div class="text-white">추천 기능</div></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start blog post item -->
            <!-- end blog post item -->
            <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-15px-bottom fadeIn" data-wow-delay="0.2s">
                <!-- fresh news item -->
                <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                    <div class="post-details">
                        <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">OpenPlace 2</span>
                        <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><div class="text-white">당신의 시간은 소중합니다!<br>오픈 플레이스의<br><strong>"찜 기능"</strong>을 통해<br>미리 장소를 맡아놓고 이동하세요!</div></span>
                        <div class="author padding-10px-top position-relative">
                            <span class="text-white text-uppercase text-extra-small">by <div class="text-white">찜 기능</div></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start blog post item -->
            <!-- end blog post item -->
            <div class="col-md-4 col-sm-4 col-xs-12 fadeIn" data-wow-delay="0.4s">
                <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                    <div class="post-details">
                        <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">OpenPlace 3</span>
                        <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><div class="text-white">내 동네, 내 주변 가게<br><strong>미스터리 쇼퍼</strong>처럼<br>직접 평가하고, 설문하고<br>포인트도 받아가세요!</div></span>
                        <div class="author padding-10px-top position-relative">
                            <span class="text-white text-uppercase text-extra-small">by <div class="text-white">설문 기능</div></span>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- start blog post item -->
        </div>
    </div>
</section>
<!-- end blog section -->

<!-- start contact section -->
<section class="wow fadeIn animated color-code md-no-background-img" data-color="6" style="background: url('<%= image_path "background_5.png" %>') left 80% no-repeat,url('<%= image_path "background_6.png" %>') right top no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center wow fadeIn">
                <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">사전 예약을 통해 OPENPLACE 서비스를 미리 만나보세요!</div> 
            </div>
        </div>
        <form id="contact-form" action="javascript:void(0)" method="post">
            <div class="row">
                <div class="col-md-8 center-col input-border-white text-center">
                    <div id="success-contact-form" class="no-margin-lr"></div>
                    <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom border-white-light">
                    <input type="email" name="email" id="email" placeholder="E-mail*" class="input-border-bottom border-white-light">
                    <input type="tel" name="phone" id="phone" placeholder="Phone" class="input-border-bottom border-white-light">
                    <button id="contact-us-button" class="btn btn-very-small btn-transparent-white xs-margin-15px-top">예약하기</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- end contact section -->
<!-- start footer --> 
<footer class="footer-center-logo padding-five-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <!-- start copyright -->
            <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                <div class="display-table-cell vertical-align-middle text-white">
                    &COPY; 2018 OPENPLACE is Powered by <a class="text-white" href="http://www.openull.com" target="_blank">OPENULL</a>.
                </div>
            </div>
            <!-- end copyright -->
            <!-- start logo -->
            <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                <div class="display-table-cell vertical-align-middle">
                    <a href="index.html"><img class="footer-logo" src="<%= image_path "logo_w.png"%>" data-at2x="<%= image_path "logo_w@2x.png"%>" alt=""></a>
                </div>
            </div>
            <!-- end logo -->
        </div>
    </div>
</footer>

<style>
    .font_color_green {
        color:darkseagreen
    }

    .font_color_white {
        color: white;
    }

    .margin {
        height: 100px;
    }
</style>

<script>
    $("#contact-us-button").click(function(){
        alert("아직 준비중입니다ㅠㅠ 조금만 기다려 주세요!");
    });
</script>